<app-header></app-header>
<!--<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url('assets/images/pic8.jpg');
      /*filter: blur(8px);
      -webkit-filter: blur(8px);*/
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-size: 200% 200%;
    }
  </style>
</head>
<body>-->

  <div class="container" style="min-height:400px; font-size:18px!important">
    <router-outlet>

      <ngx-loading-bar></ngx-loading-bar>
    </router-outlet>
  </div>
  <hr />
  <br />
  <
  <!--/body>
  </html>-->
  <app-footer></app-footer>
