<div class="container">
  <br />
  <div class="form-group">
    <input type="text" placeholder="Enter to search" [(ngModel)]="search" class="form-control" />
  </div>
  <br />


  <ul class="pagination ">
    <pagination-controls class="page-item" (pageChange)="p=$event"></pagination-controls>
  </ul>




  <div class="row">
    <div *ngFor="let story of stories
         |orderBy:'createdOn':true
         |filter:search
         |paginate:{itemsPerPage:3, currentPage:p}" class="card border-secondary mt-4" style="max-width:40rem; margin-left:20px">
      <div class="card-header bg-primary"> <b>{{story.ssTitle}}</b></div>
      <div class="card-body">
        <p class="card-text">{{story.ssDescription}}</p>
       <button class="btn-primary" (click)="like(story)">Like{{story.like}}</button>

      </div>
    </div>
  </div>
</div>

